:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background: #26332f;
  min-height: 100vh;
  overscroll-behavior-y: none;
}

#root {
  max-width: 768px;
  margin: 0 auto;
  min-height: 100vh;
}
